.help-wrapper {
  padding: 50px;
  font-family: "Poppins", sans-serif;

  .help-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .box {
    margin-bottom: 1.1rem;
  }

  p {
    line-height: 1.5;
    font-family: Roboto, sans-serif;
  }

}
