.landing-wrapper {

    .examples-container {
        padding: 50px;
        .examples-grid-container {
            height: 620px;
            overflow-y: scroll;
            overflow-x: hidden;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;

            .example-box {
                background-color: var(--light-color);
                padding: 20px;
                border: 2px solid var(--dark-color);
                text-align: center;
                border-radius: 20px;
                box-shadow: rgb(15, 37, 36) 2px 8px 1px;

                &:hover {
                    background-color: var(--main-color);
                    color: var(--text-color-dark);
                }
            }
        }

        .user-data-wrapper {
            margin-top: 100px;
        }
    }

    .banner {
        background: url(../Landing/background.png);
        height: 90vh;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;
      
        .waves {
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 0;
        }
      
        .hero-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
      
            .start-btn {
                padding: 10px 20px;
                color: var(--text-color-light);
                font-weight: 600;
                font-size: 1rem;
                width: 30%;
                cursor: pointer;
                transition: 0.3s ease-in-out;
      
                &:hover {
                    background-color: var(--main-color-light);
                    color: var(--text-color-dark);
                }
            }
        }
    }

    .scroller-container {
        justify-content: center;
        align-items: center;
    }

}
