.error-wrapper {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: var(--grey-dark-color);

  i {
    font-size: 10em;
  }

  h1 {
    color: var(--grey-dark-color);
    letter-spacing: 2px;
    font-weight: bold;
  }

  h2 {
    font-weight: 600;
  }

  p {
    font-size: 20px;
  }
}