.home-wrapper {
    padding: 20px;
    background: #f7f9fc;
    color: var(--dark-color);
  
    .horizontal_wrap {
      display: flex;
      align-items: center; /* Center align items vertically */
      height: 50px; /* Adjust height as needed */
      margin-left: 10px;
    }
    
    .profile-menu {
      display: flex;
      flex-direction: row; /* Display items horizontally */
      justify-content: space-between;    
      li {
        list-style-type: none;
      }
    
      li a {
        padding: 2px;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 2px;
        margin-bottom: 10px; /* Add space between menu items */
        display: inline-block; /* Make span behave like a block element */
        border: 2px solid black; /* Add black outline */
        border-bottom: 0;
        padding: 18px; /* Adjust padding as needed */
        border-radius: 5px;
      }

      li a:hover,
      li a.active {
        background: #e6f7ff; /* Change background color on hover and active */
        color: var(--grey-dark-color); /* Change text color on hover and active */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */


  }
}
li:first-child a {
    margin-right: 5px; /* Adjust margin-right as needed */

  }
  

  
  .home-content {
    display: flex; // Enable flexbox
    flex-direction: column; // Stack children vertically
    justify-content: flex-start; // Align items to the start of the container
    align-items: stretch; // Stretch items to fill the width
    border: 2px solid var(--grey-dark-color);
    padding: 28px;
    border-radius: 10px;
    height: 600px; // Adjusted height calculation
    overflow: hidden; // Prevent content from overflowing
  
    .total-header {
      font-size: 20px;
      flex-shrink: 0; 
    }
  }
  
  .toolbar-bar {
    color: var(--grey-dark-color);
    border: 2px solid var(--grey-dark-color);
    margin-top: 10px; // Add margin top
    // Prevent the toolbar from taking up more space than it should
    flex-shrink: 0; 
  }
  
    .hometoolbar-wrapper {
      padding: 10px;
  
      .new-button {
        width: 300px;

        .new-button:hover {
            background: #EB6B3C;
            color: var(--light-color);
            transition: 0.3s ease-in-out;
          }
    
      }

      
  
      .input {
        width: 200px;
      }

      .level-right {
        .button {
          background-color: #f0f0f0; // Grey color
          border: none;
          border-radius: 5px;
          transition: background-color 0.3s ease;
    
          &:hover {
            background-color: #d0d0d0; // Darker grey color on hover
          }
        }
        
        
      }

      
  

   
    }
    .resume-icons {
      display: flex;
      overflow-x: auto;
      height: 100%; // Use 100% of the parent's height
      align-items: center; // Center items vertically
    }
    
    .resume-preview {
      flex: 0 0 auto;
      margin-right: 10px;
      width: 20%; // Set width relative to parent
      height: auto; // Maintain aspect ratio
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;
      
      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
    
    .loading-prompt {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      z-index: 100; // This ensures it's above other elements
      text-align: center; // Center the text
    }
    
    

    

  }
  