.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  
  .navbar-brand {
    display: flex;
    align-items: center;

    img {
      margin-right: 20px;
    }
  }
  

  .nav-items {
    display: flex;
    margin-left: auto;
    gap: 1rem;
    .navbar-item {
      margin: 0 10px;
      color: var(--main-color);
      font-weight: 400;
      font-size: 1.1rem;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }
    .vl{
      border-left: 1px solid #29465B;
      height: 40px;
    }
   
    
    @media (max-width: 1200px) {
      position: absolute;
      right: 0;
      top: 5rem;
      flex-direction: column;
      padding: 1rem;
      gap: 0.5rem;
      width: 100%;
      display: none;
      &.open {
        display: flex;
        position: fixed;
        position: fixed;
        top: 0; 
        right: 0;
        height: 100vh;
        width: 250px;
       background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
       list-style: none;
       flex-direction: column;
        align-items: flex-start;
      justify-content: flex-start;
      }
       &.open .vl {
      opacity: 0; // Hide the vertical line
    }
    }

    

    .login-link{
      color: #ffcdad;
    }

    .register-link{
      position: relative; // Ensure position relative for z-index
      padding: 8px 16px; // Adjust padding as needed
      border: 2px solid #FFCDAD; // Border color
      border-radius: 5px; // Border radius
      background-color: #FFCDAD; // Background color
      color: #FFF; // Text color

      &:hover {
        background-color: darken(#FFCDAD, 10%); // Darken the background color on hover
        border-color: darken(#FFCDAD, 10%); // Darken the border color on hover
      }
    }
    
    

    .sidebar{
      display: none;

      @media (max-width: 1200px) {
        display: block;
      }
    }
  }



  .burger {
    display: none;
    cursor: pointer;
    div {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 5px;
    }
    @media (max-width: 1200px) {
      display: block;
    }
  }
}
